<ion-view view-title="HTML5">
  <ion-content class="blueback" ng-controller="ListCtrl">
    <br>

    <a href="/#/html_easy/{{questions.id}}" class="no_underline">
      <div class="card">
        <div class="item item-divider orangeback">
          <h1 class="whitetext">Beginner</h1>
        </div>
        <div class="item item-text-wrap">
          <h2>Learn some basic HTML tags. Click here to begin.<h2>
        </div>
      </div>
    </a>

    <a href="/#/html_moderate" class="no_underline">
      <div class="card">
        <div class="item item-divider orangeback">
          <h1 class="whitetext">Intermediate</h1>
        </div>
        <div class="item item-text-wrap">
          <h2>Challenge yourself with some harder HTML tags. Click here to accept the challenge.</h2>
        </div>
      </div>
    </a>

    <a href="/#/html_hard" class="no_underline">
      <div class="card">
        <div class="item item-divider orangeback">
          <h1 class="whitetext">Advanced</h1>
        </div>
        <div class="item item-text-wrap">
          <h2>Too easy? Answer these questions to become an HTML master. Click here to get started.</h2>
        </div>
      </div>
    </a>

  </ion-content>
</ion-view>
