<ion-view view-title="Languages" ng-controller="LanguageListCtrl">
  <ion-content class="blueback">


    <a href="/#/{{lang.slug}}" style="text-decoration:none;" ng-repeat="lang in languages">
      <div class="card">
        <div class="item item-divider orangeback">
          <h1 class="whitetext"><span class="{{lang.icon}}"></span>  –  {{lang.name}}</h1>
        </div>
        <div class="item item-text-wrap">
          <h2>{{lang.description}}</h2>
        </div>
      </div>
    </a>

  </ion-content>
</ion-view>
