<ion-view view-title="Sign-In">
  <ion-content class="blueback">
    <div id="main_logo">
    <img src="img/logo2.png" style="width:100%;">
    </div>
    <br>
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="Username">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Password">
      </label>
    </div>
    <div id="sign_in_btn">
      <a href="#">
        <button class="button button-large button-assertive">
        Sign-In
        </button>
      </a>
    </div>
    <div id="sign_guest">
      <a href="/#/languages" class="whitetext">
        Sign-in as a Guest
      </a>
    </div>
  </ion-content>
</ion-view>
