<ion-view view-title="Score">
        <ion-content class="blueback">

          <br>
          <div class="centered">
            <h1 class="whitetext">Score: <span style="color:#ef473a;text-shadow:1px 2px 2px #333;">8,990</span></h1>
            <h1 class="whitetext">Rank: <span style="color:#ef473a;text-shadow:1px 2px 2px #333;">1st</span></h1>
          </div>

          <br>

          <h1 class="whitetext" style="padding-left:10px;">Leaderboard:</h1>
          <div class="list">

            <a class="item item-avatar" href="#">
              <img src="img/logo2.png" style="background-color:#007dc3; border-radius:25px">
              <h2>CodeChanger13</h2>
              <p>Score: 8700</p>
            </a>

            <a class="item item-avatar" href="#">
              <img src="img/ionic.png">
              <h2>Ionic57</h2>
              <p>Score: 8550</p>
            </a>

            <a class="item item-avatar" href="#">
              <img src="img/checkmark.png">
              <h2>Checker22</h2>
              <p>Score: 8347</p>
            </a>

        </div>

        <div >
          <a href="/#/language_menu">
            <button class="button button-balanced button-large submitbtnright">
              Continue...
            </button>
          </a>
        </div>

        </ion-content>
</ion-view>
