/* Empty. Add your own CSS if you like */
.centered {
  text-align: center;
}

.whitetext {
  color:white;
}

#sign_in_btn {
  padding-top: 25px;
  text-align: center;
}

#sign_guest {
  text-align: center;
  margin-top: 50px;
  font-size: 18px;
}

#main_logo {
  background-color:#007dc3;
  padding: 50px 10px 25px 10px;
}

.no_underline {
  text-decoration: none;
}

.title {
  text-transform: uppercase;
}

.blueback {
  background-color: #007dc3;
}

.orangeback {
  background-color:#ef473a;
}

.space {
  margin-top: 50px;
}

.submitbtnright {
  float:right;
  margin-right:50px;
}

.hintbtnleft {
  float:left;
  margin-left:50px;
}

.wrapper {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#correctimg {
  width: 80%;
  padding: 50px 10px 25px 10px;
  margin-right: auto;
  margin-left: auto;
}

#incorrectimg {
  width: 80%;
  padding: 25px 10px 15px 10px;
  margin-right: auto;
  margin-left: auto;

}
